@import "bootstrap-sprockets";
@import "bootstrap";


* {
    text-align: center;
    margin: 0 auto;
    color: white;
    // border-color: white;
}

h1 {
    color: white;
}

body {
    background-image: image-url("ros.jpeg");
    background-size: 50% auto;
}

.wishes {
    display: flex;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    li {
        border: 1px solid white;
        list-style: none;
        width: 25%;
        box-sizing: border-box;
        background-color: black;
    }
}

.loans {
    display: flex;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    li {
        border: 1px solid white;
        list-style: none;
        width: 25%;
        box-sizing: border-box;
        background-color: black;
    }
}